[submodule "docs/_themes"]
	path = docs/_themes
	url = git://github.com/lepture/flask-sphinx-themes.git
[submodule "livereload/livereload-js"]
	path = livereload/livereload-js
	url = git://github.com/livereload/livereload-js.git
