.DS_Store

test.*
*.swp
*~
*.py[co]

*.egg
*.egg-info
dist
eggs
sdist
develop-eggs
.installed.cfg

build

pip-log.txt

.idea
.coverage
.tox
.env/
venv/

docs/_build
example/style.css
tests/tmp
cover/
